.home {
    @extend .page;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem 0;
}

@media screen and (min-width: 1224px) {
    .home {
        padding:0;
    }
}