.projects {
    @extend .page;
    padding-top:6rem;
}

.projectList {
    height:calc(90vh);
    // display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}