* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: unset;
    text-decoration: none;
}
html, body{
    background-color: $bg-color;
    color: $body-color;
    height:100%;
}
#root {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.highlight {
    color: $highlight;
    border-color: $highlight;
}

.app {
    background-color: $bg-color;
    height: 100%;
    font-family: $body-font;
}

.button {
    outline:none;
    border-radius:5px;
    padding:.5rem 1.25rem;
    transition: .2s all;
    &:hover{
        cursor: pointer;
    }
}

.button--outline {
    @extend .button;
    $color: $black;
    background-color: none;
    &.highlight {
        $color:$highlight;
    }
    &:hover {
        background-color: $color;
        // color: choose-contrast-color($black);
        color:white;
    }
    border:2px solid $color;
}
.button--solid {
    @extend .button;
    color: white;
    border:none;
    background-color: $highlight;
    &:hover{
        opacity:.8;
    }
}

.page {
    padding-top: 4rem;
    height:100%;
    margin: 0 auto;
    width:80%;
}