@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Rubik:wght@300;400;600&display=swap');

$bg-color: #F5F5F5;
$header-font: 'Rubik';
$body-font: 'Poppins';
$box-shadow:0px -3px 15px #bbb;

// colors
$black: #342E37;
$blue:#3C91E6;
$green: #A2D729;
$orange: #FA824C;

$highlight: $orange;
$body-color: $black;